html {
  /* Used for sticky footer */
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 20px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    background-color: white;
    font-family: cursive;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color:cornsilk;
  padding-top: 10px;
}

#results{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10%;
  /* Hide the results column by default */
  display: none;
   background-color: beige;
  align-content: center;
    text-align-last: center;
}
.navbar-brand{
    font-family: inherit; 
    font-size: 225%;
    
}
.navbar{
    background-color: beige;
}
#maincontent{
     font-family:cursive;
}
  